html{
    width:100%;
    height:100%;
    padding:0;
    overflow: hidden;
}

body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
    /*-webkit-touch-callout: none; !* iOS Safari *!*/
    /*-webkit-user-select: none;   !* Chrome/Safari/Opera *!*/
    /*-khtml-user-select: none;    !* Konqueror *!*/
    /*-moz-user-select: none;      !* Firefox *!*/
    /*-ms-user-select: none;       !* Internet Explorer/Edge *!*/
    /*user-select: none;           !* Non-prefixed version, currently*/
                                  /*not supported by any browser *!*/
}

img{
    width:60px;
    /*position: absolute;*/
    top:0;
    left:0;
    z-index: 5;
    margin:20px;
}
#logo{
    /*margin: 20px 0 0 20px;*/
    display: inline-block;
    /*z-index: 2;*/
    /*position: absolute;*/
    margin-bottom: 20px;
}

#activeLogo{
    display: none;
}

#controls{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#editor{
    opacity: 0.9;
    position: absolute;
    top:0;
    right:0;
    width:800px;
    height:100%;
    overflow:hidden;
    z-index:4;
}

#draggable{
    background: lightgrey;
    width:10px;
    float: left;
    height:100%;
    cursor: col-resize;
}

#editor>.CodeMirror{
    height:100%;
}

#error {
    width: 100%;
    height: 30px;
    background: #ffffec;
    line-height: 30px;
    padding: 0 20px;
}

.modalTitle{
    font-size: 30px;
}
.btn{
    display: inline-block;
    margin-right: 20px;
    /*background-color: #bdc3c7;*/
    /*color: #fff;*/
    /*padding: 10px 19px;*/
    /*font-size: 17px;*/
    /*line-height: 1.471;*/
    /*border-radius: 6px;*/
}

.btn:hover{
    border-width:0
}

a:hover, a:active, a:focus {
  outline:0;
}

a{
    color:#8cbaed;
}
a:hover{
    color:#8cbaed;
}

.modal-content{
    border-radius: 0;
}
.modal-body{
    padding: 20px 35px;
    padding-top: 40px;
}

span.modal-close{
    display: none;
}